.conteiner{
    background-color: #4ca5a4;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1448px;
}
.title{
    color:#FFB6D5;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 208px;
}
.carroviaje{
    width: 80%;
    margin-top: 50px;

}
.login{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 111px;
}
.startText{
    color:#FFB6D5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.btnGoggle{
    width: 240px;
    height: 60px;
    margin:20px;
    border-radius: 15px;
    background-color: #FFB6D5;
    border:none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

@media (min-width: 1000px) and (max-width: 1094px) {
    /* for desktop*/
    .conteiner{
        height: 1448px;
    }
    .carroviaje{
        width: 60%;
    }
   
   
}

@media (min-width: 1095px) and (max-width: 2047px) {
    /* for desktop*/
    .conteiner{
        height: 1448px;
    }
    .carroviaje{
        width: 50%;
    }
    .login{
        margin-top: 40px;
    }
    .title{
        margin-top: 100px;
    }
   
}
@media  (min-width: 2048px)and (max-width: 3248px){
    /* for desktop big*/
    .carroviaje{
        width: 30%;
    }
    .title{
        margin-top: 100px;
    }
    .login{
        margin-top: 50px;
    }
}

@media  (min-width: 375px) and (max-width: 767px) {
    .title{
        font-size: 35px;
        margin-top: 71px;
    }
    .carroviaje{
        width: 80%;
    
    }
    .btnGoggle{
        width: 156px;
        height: 35px;
        margin: 4px;
        font-size: 15px;
    }
    .startText{
        color:#FFB6D5;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
    }
    .login{
        flex-direction: column;
    }
    .conteiner{
        height: 1448px;
    }
}