main{
    background-color: #4ca5a4;
    display: flex;
    justify-content: center;
}
.carHead{
    width: 100%;
}
nav{
    display: flex;
    justify-content: flex-end;
}
.btnLogOut{
    width: 146px;
    height: 30px;
    margin: 8px;
    border-radius: 15px;
    background-color: #FFB6D5;
    border:none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
}